*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Josefin Sans', sans-serif;
}

#app{
   background-color: royalblue;
   height: 100vh;
   width: 100vw;
}

.title h1{
   text-align: center;
   color: white;
   text-transform: uppercase;
   font-size: 48px;
}

.text-area,
.list-area{
   width: 50%;
   margin: 0 auto;
}

.text-area input{
   margin-right: 20px;
   background-color: rgba(255, 255, 255, 0.8);
   transition: 0.5s;
}

.text-area input:hover{
   background-color: white;
   transition: 0.5s;
}

.text-area{
   margin-bottom: 40px;
}

.singleText{
   padding: 10px 15px;
   background-color: whitesmoke;
   height: 50px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   color: black;
   margin-bottom: 10px;
}

.delete{
   position: absolute;
   right: 20px;
   top: 9px;
   color: red;
   font-size: 25px;
   cursor: pointer;
}

/* classe consegna fatta */
.fatto{
   text-decoration: line-through;
   color: grey;
}


